.hero {
  border: solid red 2px;
  border-radius: 6px;
  background-color: white;
}

.hero__image {
  width: 300px;
  border-radius: 8px;
  height: 250px;
}

.hero__cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
