.heroes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    border-radius: $image-radius;
    justify-items: center;
    align-items: center;
    @include for-phone-only {
        display: flex;
        background-color: black;
        flex-direction: column;
        overflow: scroll;
        background-image: none !important;
        overflow: scroll;
        max-height: 72vh;
    }
}

.c-card-hero {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    border-radius: $image-radius;
    transition: 0.5s ease-out;
    @include for-phone-only {
        width: 100%;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    &__image-wrapper {
        border-top-left-radius: $image-radius;
        border-top-right-radius: $image-radius;
        &-image {
            border-top-left-radius: $image-radius;
            border-top-right-radius: $image-radius;
            height: 500px;
            width: 100%;
            object-fit: cover;
            @include for-phone-only {
                height: 200px;
                object-fit: contain;
            }
        }
    }
    &__content {
        background: #fff;
        font-size: 18px;
        font-weight: bolder;
        @include for-phone-only {
            background: transparent;
            font-size: 20px;
            margin-top: 3px;
            font-weight: normal;
        }
        &-name {
            color: $primary-300;
        }
        &-class {
            color: $dark-green;
        }
        &-health {
            color: $primary-300;
        }
        &-level {
            color: $dark-green;
        }
        &-mana,
        &-rage,
        &-energy {
            color: $primary-300;
        }
        &-skills {
            color: $purple-300;
            font-weight: bolder;
            @include for-phone-only {
                color: $secondary-color;
            }
            &-skill {
                background: #fff;
                color: $dark-green;
                font-weight: bolder;
                font-size: 18px;
                @include for-phone-only {
                    background: transparent;
                    color: $violet-500;
                    font-weight: normal;
                    font-size: 20px;
                }
            }
        }
    }
    &__cta-container {
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        background: #fff;
        border-bottom-left-radius: $image-radius;
        border-bottom-right-radius: $image-radius;
        @include for-phone-only {
            flex-flow: row;
            background: transparent;
            margin: 5px 0;
        }
    }
    &__link {
        @include for-phone-only {
            padding: 4px 8px;
        }
    }
    &__button {
        @include for-phone-only {
            padding: 6px 12px;
        }
    }
    &__no-heroes {
        grid-column: 3/4;
        display: flex;
        flex-flow: column wrap;
        background: $grey-500;
        color: #fff;
        border-radius: $image-radius;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        &-links {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}