.c-header {
    display: grid;
    background: $primary-300;
    grid-template-columns: 1fr 4fr;
    max-height: 140px;
    min-height: 130px;
    border-radius: $box-radius;
    box-shadow: $primary-shadow;
    position: relative;
    @include for-phone-only {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        text-align: center;
    }
    &__nav {
        display: flex;
        width: 100%;
        @include for-phone-only {
            overflow: hidden;
            position: relative;
            flex: 0.6;
        }
        &-list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            @include for-phone-only {
                display: none;
            }
        }
        &-list-item-username {
            align-self: center;
            @include for-phone-only {
                order: 1;
                margin-right: 10px;
                color: $purple-300;
            }
        }
        &-list-item {
            padding: 0 18px;
            @include for-phone-only {
                padding: 0;
                &:hover {
                    color: blue;
                }
            }
        }
        &-link {
            margin-right: 20px;
            color: $grey-700;
            transition: color;
            font-size: 18px;
            @include for-phone-only {
                margin-right: 20px;
                font-size: 16px;
                color: $purple-300;
                transition: .3s ease-out;
                &:hover {
                    color: $red-500 !important;
                }
            }
            &:hover {
                transition: 0.3s ease-out;
                color: $secondary-color;
                opacity: 0.8;
            }
        }
        &-link-username {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    &__logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        @include for-phone-only {
            display: flex;
            flex: 1;
        }
        &-description {
            @include for-phone-only {
                text-align: center;
            }
            &:hover {
                cursor: pointer;
            }
            text-transform: uppercase;
            font-weight: bolder;
        }
        &-image {
            @include for-phone-only {
                flex: 0.5;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        &-character {
            animation: from-secondary-to-purple 1s ease-out 1 forwards;
            color: black;
            transition: color 0.3s ease-out;
            @for $i from 1 to 7 {
                &:nth-child(#{$i}) {
                    color: $purple-300;
                    animation-delay: 0.05s *$i;
                }
            }
        }
    }
    &__phone-menu {
        display: none;
        @include for-phone-only {
            display: block;
            cursor: pointer;
            align-self: center;
            justify-self: center;
            width: 25px;
            margin-right: 10px;
            margin-top: 3px;
            &-line {
                display: block;
                width: 20px;
                height: 4px;
                background-color: white;
                margin-bottom: 4px;
                margin-right: 20px;
            }
        }
    }
}