.c-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-login-form {
    background: $grey-700;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $image-radius;
    box-shadow: $secondary-shadow;
    border: 3px solid $primary-300;
    padding-bottom: 24px;
    &__no-account-yet {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        &-title {
            color: $primary-300;
            margin-right: 30px;
        }
        &-link {
            font-size: 26px;
            transition: color 0.5s ease-out;
            margin-right: 30px;
            &:hover {
                color: $primary-300;
            }
        }
    }
    &__user-box {
        display: flex;
        flex-flow: column wrap;
        width: 80%;
        &-password,
        &-email {
            width: 100%;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid $primary-300;
            padding: 10px 0;
            outline: none;
            font-size: 16px;
            background-clip: text;
            -webkit-background-clip: text;
            color: $secondary-color !important;
        }
    }
    &__label {
        font-size: 24px;
        margin-bottom: 6px;
        color: #fff;
    }
    &__title {
        color: $primary-300;
        padding-bottom: 0;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    &__submit {
        margin-top: 20px;
    }
}