<footer class="c-footer">
	<div class= "c-footer__items-wrapper">
     <p class="h3-like">© 2021 Copyright:</p>
    <a class="c-footer__link h3-like" href="https://github.com/PetyrDzhunov">Petar Dzhunov</a>
  </div>
</footer>