<footer class="c-footer">
	<div class= "c-footer__items-wrapper">
     <p class="h1-like">© 2021 Copyright:</p>
    <a class="c-footer__link h1-like" href="https://github.com/PetyrDzhunov">Petyr Dzhunov</a>
  </div>
</footer>