<header>
	<nav class="navbar navbar-dark bg-primary">
		{{#if loggedIn}}
			<p class="navigation-link">Welcome {{email}}</p>
        	<a class="navigation-link" href="/home">Play game</a>
        	<a class="navigation-link" href="/create-hero">Create new Hero</a>
			<a  class="navigation-link" href="/logout">Logout</a>
			{{else}}
        	<a class="navigation-link" href="/about">About</a>
       		<a class="navigation-link" href="/register">Register</a>
       		<a class="navigation-link" href="/login">Login</a>
		 {{/if}}
	</nav>
</header>