<header>
	<nav class="navbar navbar-dark bg-primary">
        	<a class="navigation-link" href="/home">Home</a>
       		<a class="navigation-link" href="/register">Register</a>
       		<a class="navigation-link" href="/login">Login</a>
        	<a class="navigation-link" href="/about">About</a>
	</nav>
</header>