main {
    display: grid;
    grid-template-rows: 1fr 6fr 0.7fr;
    max-width: 1800px;
    margin: 0 auto;
    min-height: 100vh;
    @include for-phone-only {
        display: flex;
        flex-flow: column;
    }
}