@keyframes from-grey-to-secondary {
    from {
        color: $grey-700;
    }
    to {
        color: $secondary-color;
    }
}

@keyframes from-secondary-to-purple {
    from {
        color: $secondary-color;
    }
    to {
        color: $purple-300
    }
}