@keyframes from-grey-to-secondary {
    from {
        color: $grey-700;
    }
    to {
        color: $secondary-color;
    }
}

@keyframes from-secondary-to-purple {
    from {
        color: $secondary-color;
    }
    to {
        color: $purple-300
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        width: 300px;
        transform: rotate(0deg);
    }
    13% {
        transform: rotate(15deg);
    }
    25% {
        opacity: 0.75;
        width: 275px;
        transform: rotate(-15deg);
    }
    38% {
        transform: rotate(15deg);
    }
    50% {
        opacity: 0.5;
        width: 250px;
        transform: rotate(-15deg);
    }
    63% {
        transform: rotate(15deg);
    }
    75% {
        opacity: 0.25;
        width: 240px;
        transform: rotate(-15deg);
    }
    87% {
        transform: rotate(15deg);
    }
    100% {
        opacity: 0;
        width: 230px;
        transform: rotate(0deg);
    }
}