.o-container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    &--row {
        flex-flow: row wrap;
    }
    &--column {
        flex-flow: column wrap;
    }
}