{{>header}}
<div class="about-container">
	<div class="about-information">
		<p class="about-paragraph">
			Hey everybody , my name is Peter and I am 26 years old.
			I am a young , eager to learn , JS web developer with
			few projects that I recently made.
			My goal is to become either a full-stack web-developer,
			or a front-end developer with React/ MongoDB/ Node.JS/ Express.JS
		</p>
		<p id="paragraph-above-contacts">Feel free to contact me anytime :)</p>
		<div class="about-contacts">
			<div class="contacts-container">
			<label for="facebook"></label>
			<div class="facebook">
				<a href="https://www.facebook.com/djunov"><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="fb-picture" width="100px" length="100px"></a>
			</div>
			<label for="instagram"></label>
			<div class="instagram">
				<a href="https://www.instagram.com/petyrdzhunov"><img src="https://play-lh.googleusercontent.com/h9jWMwqb-h9hjP4THqrJ50eIwPekjv7QPmTpA85gFQ10PjV02CoGAcYLLptqd19Sa1iJ" alt="instagram-picture" width="100px" length="100px"></a>
			</div>
			<label for="linkedIn"></label>
			<div class="linkedIn">
				<a href="https://www.linkedin.com/in/petar-dzhunov-9515b6210/"><img src="https://www.amocrm.com/static/images/pages/integrations/logo/linkedin.png" alt="linkedIn-picture" width="100px" length="100px"></a>
			</div>
			<label for="GitHub"></label>
			<div class="github">
				<a href="https://github.com/PetyrDzhunov"><img src="https://www.dsxhub.org/wp-content/uploads/2021/03/DataLab_-_Chapitre_0_-_Fabriquer_sa_station_de_mesure_connect_e_github-logo-640x320-1.png" alt="gitHub-picture" width="100px" length="100px"></a>
			</div>
			</div>
		</div>
	</div>
</div>
{{>footer}}