{{> header}}
	<form action="/create-hero" method="POST" class="create-hero-section__form">
		<section class="create-hero-section">
	<article class="create-hero-section__classes">
		<article class="create-hero-section__classes__class">
			<h1 class="create-hero-section__classes__class-title">Barbarian</h1>
			<p class="create-hero-section__classes__class-description u-hidden">A nomadic wanderer, the Barbarian combines brawn and ruggedness with a mastery of weapons, using devastating melee attacks along with war cries to boost his allies—or demoralize his enemies.</p>
		</article>

		<article class="create-hero-section__classes__class">
			<h1 class="create-hero-section__classes__class-title">Hunter</h1>
			<p class="create-hero-section__classes__class-description u-hidden">A master of the javelin and bow, the Hunter reacts to combat situations with superhuman agility. She relies on magic prowess to enhance her significant martial abilities.</p>
		</article>

		<article class="create-hero-section__classes__class">
			<h1 class="create-hero-section__classes__class-title">Mage</h1>
			<p class="create-hero-section__classes__class-description u-hidden">Commanding the elements, the learned Mage dispatches enemies from afar with calculated blasts of fire, cold, and lightning spells—invaluable skills against the armies of the Burning Hells.</p>
		</article>

		<article class="create-hero-section__classes__class">
			<h1 class="create-hero-section__classes__class-title">Priest</h1>
			<p class="create-hero-section__classes__class-description u-hidden">Priests use powerful healing magic to fortify themselves and their allies. They also wield powerful offensive spells from a distance, but can be overwhelmed by enemies due to their physical frailty and minimal armor.</p>
		</article>

		<article class="create-hero-section__classes__class">
			<h1 class="create-hero-section__classes__class-title">Rogue</h1>
			<p class="create-hero-section__classes__class-description u-hidden">A member of an ancient Vizjerei order founded to hunt down mages gone assasin, the Rogue is a martial arts expert who uses deadly traps and shadow disciplines to vanquish evil.</p>
		</article>
	</article>
	<article class="create-hero-section__images">
		<article class="create-hero-section__images-description">
			<h2 class="create-hero-section__images-title">Classes</h2>
			<p class="create-hero-section__images-text">Each class in Heroes is unique and has access to different skills.Which hero will you choose?</p>
		</article>

		<article class="create-hero-section__images-image-wrapper">
		<img class="create-hero-section__images-image" src="" alt="">
		</article>

		<article class="create-hero-section__images-pick-section-wrapper">
		<label for="name" class="create-hero-section__images-pick-section-wrapper-label">Name</label>
		<input type="text" name="name" class="create-hero-section__images-pick-section-wrapper-name">
		<label for="class" class="create-hero-section__images-pick-section-wrapper-label">Class</label>
		<input type="text" name="hero" id="hero-class" class="create-hero-section__images-pick-section-wrapper-class">
		<select name="gender" id="gender" class="create-hero-section__images-pick-section-wrapper-select-menu">
		<option value="male" class="create-hero-section__images-pick-section-wrapper-select-menu-option">male</option>
		<option value="female" class="create-hero-section__images-pick-section-wrapper-select-menu-option">female</option>
		</select>
		<input type="submit" value="Create hero" class="btn btn--primary create-hero-section__images-pick-section-wrapper-submit">
		</article>
	</article>
		</section>
	</form>


{{> footer}}




{{!-- <div class="create-hero-container">
	<div class="create-hero-div">
	<form action="/create-hero" method="POST">
	<span id="heroes-span" for="heroes">Choose a hero:</span>
	<select  class='select-hero' name="hero" id="hero">
		<option value="barbarian">Barbarian</option>
		<option value="mage">Mage</option>
		<option value="hunter">Hunter</option>
		<option value="priest">Priest</option>
		<option value="rogue">Rogue</option>
	</select>
	<div id="gender-div" for="gender">Gender : 
	<select name="gender" id="gender">
		<option value="male">male</option>
		<option value="female">female</option>
	</select>
	</div>
	<br><br>
	<input type="text" name="name" id="hero-name">
	<input type="submit" value="Submit">
	</form>
	</div>
</div> --}}