{{>header}}
<section class="enter-world o-container-centered o-container-centered--column">
	<article class="enter-world__content">
		<article class="enter-world__content-first-part">
			<span class="enter-world__content-character">t</span>
			<span class="enter-world__content-character">o</span>
		</article>
		<article class="enter-world__content-second-part">
			<span class="enter-world__content-character">b</span>
			<span class="enter-world__content-character">e</span>
		</article>
		<article class="enter-world__content-third-part">
			<span class="enter-world__content-character">c</span>
			<span class="enter-world__content-character">o</span>
			<span class="enter-world__content-character">n</span>
			<span class="enter-world__content-character">t</span>
			<span class="enter-world__content-character">i</span>
			<span class="enter-world__content-character">n</span>
			<span class="enter-world__content-character">u</span>
			<span class="enter-world__content-character">e</span>
			<span class="enter-world__content-character">d</span>
		</article>

	</article>
</section>
{{>footer}}