{{> header}}
<section class="o-container-centered o-container-centered--column c-register-form__wrapper">
<form action="/register" method="POST" class="c-register-form o-container-centered o-container-centered--column">
<h1 class="c-register-form__title">Register</h1>
  <div class="c-register-form__user-box">
    <input required=""type="text" class="c-register-form__user-box-email"name="email">
    <label class="c-register-form__user-box__label">Email address</label>
  </div>
  <div class="c-register-form__user-box">
    <input required=""type="password" class="c-register-form__user-box-password" name="password">
    <label class="c-register-form__user-box__label">Password</label>
  </div>
  <div class="c-register-form__user-box">
    <input required=""type="password" class="c-register-form__user-box-password" name="rePassword">
    <label class="c-register-form__user-box__label">Repeat password</label>
  </div>
  <button type="submit" class="btn btn--primary c-register-form__submit">Submit</button>
  <article class="c-register-form__have-account-already">
    <h2 class="c-register-form__have-account-already-title">Already registered?</h2>
    <a href="/login" class="c-register-form__have-account-already-link">Login now</a>
  </article>
</section>
</form>
{{> footer}}			
