* {
    margin: 0;
    padding: 0;
    font-family: 'Red-Hat Text', sans-serif;
}

:root {
    --main-blue: #234465;
    --main-orange: #FFA000;
}

.navigation-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-link:active {
    background-color: greenyellow;
}

.navigation-link:hover {
    color: red;
    transition: 0.5s ease;
}

.hero-image {
    width: 300px;
    border-radius: 8px;
    height: 250px;
}

.heroes-container {
    display: inline;
    color: red;
    border: solid black 1px;
}

.navigation-link-blue {
    color: blue;
    text-decoration: none;
}

.navigation-link-blue:hover {
    color: red;
    transition: 0.5s ease;
}

.btn-primary {
    align-items: center;
}

.skills-container {}

.skill-span:hover {
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 0 auto;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.hero {
    vertical-align: top;
    padding: 1%;
    margin: 0.5%;
    border: solid black 1px;
    border-radius: 6px;
}

.hero:hover {
    border: 2px solid var(--main-blue);
}