* {
    margin: 0;
    padding: 0;
    font-family: 'Red-Hat Text', sans-serif;
}

body {
    background-image: url('https://wallpaperaccess.com/full/2632318.jpg');
}

:root {
    --main-blue: #234465;
    --main-orange: #FFA000;
}

.navigation-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-link:active {
    background-color: greenyellow;
}

.navigation-link:hover {
    color: red;
    transition: 0.5s ease;
}

.hero-image {
    width: 300px;
    border-radius: 8px;
    height: 250px;
}

.heroes-container {
    display: inline;
    color: red;
    border: solid black 1px;
}

.navigation-link-blue {
    color: blue;
    text-decoration: none;
}

.navigation-link-blue:hover {
    color: red;
    transition: 0.5s ease;
}

.btn-primary {
    align-items: center;
}

.skill-span:hover {
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 0 auto;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.hero {
    vertical-align: top;
    padding: 1%;
    margin: 0.5%;
    border: solid black 1px;
    border-radius: 6px;
    background-color: white;
}

.hero:hover {
    border: 2px solid var(--main-blue);
}

.navbar {
    justify-items: baseline;
}

#enter-world {
    background-color: #4CAF50;
    /* Green */
    border: solid 1px black;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#enter-world:hover {
    background-color: yellow;
    color: red;
    transition: 0.5s ease;
    cursor: pointer;
}

.create-hero-div {
    display: flex;
    justify-content: center;
    background-color: wheat;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}

#error-notification {
    display: none;
    width: 100%;
    color: red;
    background-color: white;
    display: flex;
    text-align: center;
}

#success-notification {
    display: none;
    width: 100%;
    color: green;
    background-color: white;
    display: flex;
    text-align: center;
}

.white-thing {
    color: white;
}

#emailHelp,
label {
    color: white;
}

.form-info {
    color: white;
}

.navigation-link-updated {
    color: red;
    text-decoration: none;
}

.guest-link {
    text-decoration: none;
    color: white;
    display: block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.guest-link:hover {
    color: orange;
    transition: 0.8s ease;
}

.guest-paragraph {
    color: red;
    font-size: xx-large
}

.skills-label {
    color: blue;
}

.div-skills {
    color: blue;
}