* {
    margin: 0;
    padding: 0;
    font-family: 'Red-Hat Text', sans-serif;
}

body {
    background: url('https://wallpaperaccess.com/full/2632318.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --main-blue: #234465;
    --main-orange: #FFA000;
}

a {
    cursor: pointer;
}

.navigation-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-link:active {
    background-color: greenyellow;
}

.navigation-link:hover {
    color: red;
    transition: 0.5s ease;
}

.navigation-link-blue {
    color: blue;
    text-decoration: none;
}

.navigation-link-blue:hover {
    color: red;
    transition: 0.5s ease;
}

.btn-primary {
    align-items: center;
}


/*.skill-span:hover { 
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 0 auto;
}

.heroes-container {
    /* display: inline;
    color: red;
    border: solid black 1px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.hero {}

.hero:hover {
    border: 3px solid var(--main-blue);
}

.navbar {
    justify-items: baseline;
}

#enter-world {
    background-color: #4CAF50;
    
    border: solid 1px black;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#enter-world:hover {
    background-color: yellow;
    color: red;
    transition: 0.5s ease;
    cursor: pointer;
}

.create-hero-container {
    display: flex;
    justify-content: center;
}

.create-hero-div {
    display: flex;
    justify-content: center;
    background-color: red;
    text-align: center;
    width: 50%;
}

#heroes-span,
#gender-div {
    color: white;
    font-size: larger;
}

#error-notification {
    display: none;
    color: red;
    background-color: white;
    display: flex;
    text-align: center;
    font-size: xx-large;
}

#success-notification {
    display: none;
    color: green;
    background-color: white;
    display: flex;
    text-align: center;
    font-size: xx-large;
}

.white-thing {
    color: white;
}

#emailHelp,
label {
    color: white;
}

.form-info {
    color: white;
}

.navigation-link-updated {
    color: red;
    text-decoration: none;
}

.guest-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guest-link {
    text-decoration: none;
    color: white;
    display: block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: larger;
}

.guest-link:hover {
    color: orange;
    transition: 0.8s ease;
}

.guest-paragraph {
    color: red;
    font-size: xx-large
}

.skills-label {
    color: blue;
}

.div-skills {
    color: blue;
}

#details-hero {
    background-color: blue;
    border: solid 1px black;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#details-hero:hover {
    background-color: yellow;
    color: red;
    transition: 0.5s ease;
    cursor: pointer;
}

#delete-hero {
    background-color: red;
    border: solid 1px black;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

#delete-hero:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.about-container {
    height: 750px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-information {
    width: 50%;
    border: solid 2px yellow;
    background-color: white;
    border-radius: 4px;
}

.about-paragraph {
    color: red;
    font-size: xx-large;
}

.about-contacts {
    color: blue;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.facebook,
.instagram,
.gitHub,
.linkedIn {
    padding: 16px 32px;
}

#paragraph-above-contacts {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: xx-large;
}

.additional-hero-info-img {
    width: 600px;
    height: 500px;
}

.additional-image-div {
    display: flex;
    justify-content: center;
}

.createdOn {
    color: white;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.weapon-type {
    color: white;
}

.weapons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.weapon {
    padding: 12px 24px;
}

.label-weapons {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
}

.additional-hero-stats {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: white;
}

#strenght,
#aggility,
#intelligence,
#stamina {
    padding: 12px 24px;
    color: tomato;
    font-size: larger;
}

.weapon-img {
    background-color: white;
}

.back-home-btn {
    background-color: green;
    border: solid 1px black;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 8%;
    padding: 20px 32px;
}

.back-home-btn:hover {
    background-color: yellow;
    color: red;
    transition: 0.5s ease;
    cursor: pointer;
}

#no-heroes-paragraph {
    display: flex;
    color: red;
    font-size: xx-large;
    justify-content: center;
}

.additional-info,
.level-info {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: white;
}

.to-be-countinue-div {
    color: white;
    font-size: xx-large;
}
/*